.icon-control {
    height: 40px;
    width: 40px;
}

.thumbnail {
    // width: 100%;
    background-size: 100%;
    height: 100px;
    object-fit: fill;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}